= render :partial => 'layouts/flash_display'

%p
  %b Title:
  = @issue.title
%p
  %b Description:
  = @issue.description

= link_to 'Edit', edit_candidate_issue_path(@candidate, @issue)
\|
= link_to 'Back', candidate_path(@candidate)
