%h1= @issue.title

= render :partial => 'layouts/flash_display'

%p
  %b Description:
  = @issue.description

%p
  = link_to @issue.citation, url_helper(@issue.citation), :target => '_blank'

= link_to 'Edit', edit_candidate_issue_path(@candidate, @issue)
\|
= link_to 'Back', candidate_path(@candidate)
