%h1 Candidates

= render :partial => 'layouts/flash_display'

= form_tag candidates_path, :method => 'get' do
  = text_field_tag :search, params[:search]
  = submit_tag "Search", :name => nil

%table.table.table-striped.table-bordered.table-hover.table-condensed.table-default
  %tr
    %th Name
    %th Description

  - @candidates.each do |candidate|
    %tr
      %td= link_to candidate.name, candidate_path(candidate)
      %td= candidate.description

%br

= link_to 'New Candidate', new_candidate_path
%p= will_paginate @candidates
