= render :partial => 'layouts/flash_display'
/TODO make name the title

%p
  %b Name:
  = @candidate.name
%p
  %b Description:
  = @candidate.description
%p
  %b Image url:
  = @candidate.image_url

= link_to 'Edit', edit_candidate_path(@candidate)
\|
= link_to 'Back', candidates_path
