%h1= @candidate.name

= render :partial => 'layouts/flash_display'

%p
  %b Description:
  = @candidate.description
%p
  %b Image url:
  = @candidate.image_url

= link_to 'Edit', edit_candidate_path(@candidate)
\|
= link_to 'Back', candidates_path

%table.table.table-striped.table-bordered.table-hover.table-condensed.table-default
  - @issues.each do |issue|
    %tr
      %td= link_to issue.title, candidate_issue_path(@candidate, issue)

/TODO create issues, nest under candidate
