%div
  = image_tag @candidate.image_url, :size => "230x230"

  %h1.image_name= @candidate.name

= render :partial => 'layouts/flash_display'

%div
  %p.description
    %b Description:
    = @candidate.description



= link_to 'Edit', edit_candidate_path(@candidate)
\|
= link_to 'Back', candidates_path
\|
= link_to 'Add Issue', new_candidate_issue_path(@candidate)

%table.table.table-bordered.table-default
  %tr
    %th.for_issue Supports
    %th.against_issue Against
  %tr
    %td
      %table.table.table-bordered.table-hover.table-condensed.table-default
        - @for_issues.each do |issue|
          %tr
            %td.for_issue= link_to issue.title, candidate_issue_path(@candidate, issue)
    %td
      %table.table.table-bordered.table-hover.table-condensed.table-default
        - @against_issues.each do |issue|
          %tr
            %td.against_issue= link_to issue.title, candidate_issue_path(@candidate, issue)

