!!! 5
%html
  %head
    %title politicly | The Political Platform Directory
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'bootstrap.css'
    = stylesheet_link_tag 'bootstrap-responsive.css'

    =csrf_meta_tags

    = javascript_include_tag 'application'

  %body
    %div.navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      %div.navbar-inner
        %div.container
          %button.btn-navbar{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => root_path} politicly
          %div.nav-collapse.collapse
            %ul.nav
              %li{:class => "#{'active' if current_page?(candidates_path)}"}
                %a{:href => root_path} Home
              %li
                %a{:href => '/about.html'} About
              %li
                %a{:href => '/contact.html'} Contact
            - if user_signed_in?
              %div.pull-right
                /%span= (current_user.email + "|" + (link_to 'Log out', destroy_user_session_path)).html_safe
                /%span= ("Hello #{current_user.email} | " + link_to('Log out', destroy_user_session_path)).html_safe
                = (link_to 'Log out', destroy_user_session_path, :method => 'delete')+" | HI #{current_user.email}"

            - else
              %div.pull-right
                = link_to 'Login', new_user_session_path
    %div.container
      %div#ads_right_side
        %h2 Google

      %div#main_content

        = yield

